body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.content {
  height: 100vh !important;
}

.table thead.vertical th, .table thead.vertical th span {
    writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    white-space: nowrap;
}

.table_btn_col {
  width: 1%;
  white-space: nowrap;
}


.tooltip-table {
    margin: 0px !important;
}

.tooltip-table td:nth-child(1) {
    font-weight: bold;
}

.tooltip-table td:nth-child(2) {
    text-align: left;
}



.edit-icon {
  display: inline-block;
  width: 25px;
  margin-left: 10px;
}

.header-icon {
  float: right;
  margin-left: 2px;
}

.header-overflow {
  width: max-content;
  overflow: hidden;
  float: right;
}

.edit-icon:hover {
  fill: lightgreen;
  cursor: pointer;
}
.trash-icon {
  display: inline-block;
  width: 16px;
  margin-left: 5px;
  fill: rgba(255, 64, 88, 1);
}
.text-area {
    white-space: pre-wrap;
}

.invisible {
  visibility: hidden;
}

.inline-btn-group {
  display: inline;
  position: absolute;
}

.table-btn-padding {
  padding-bottom: 10px;
}

.svg-width-height {
  width: 20px;
  height: 20px;
}

.detail-edit {
    width: 300px;
    margin-right: 10px;
}

.table-btn-group {
    padding-bottom: 30px;
}

.header-title {
  float: left;
  font-size: .9em;
}

.filter-fieldname-dropdown {
  width: 25%;
  float: left;
}

.filter-rest {
  width: 70%;
  float: left;
}

.filter-operator-dropdown {
  width: 40%;
  padding-left: 2px;
  padding-right: 2px;
  float: left;
}

.filter-input {
  width: 60%;
  float: left;
}

.filter-close {
  width: 5%;
  float: right;
}

.filter-padded {
  padding-left: 10px;
  padding-top: 4px;
}

.filter {
  padding-bottom: 0% !important;
}
